.CommentBox{
    border-style: outset;
    /*margin: 1px 260px;*/
    overflow: auto;
    border:groove 3px #000000;
    -moz-border-radius-topleft: 13px;
    -moz-border-radius-topright:13px;
    -moz-border-radius-bottomleft:13px;
    -moz-border-radius-bottomright:13px;
    -webkit-border-top-left-radius:13px;
    -webkit-border-top-right-radius:13px;
    -webkit-border-bottom-left-radius:13px;
    -webkit-border-bottom-right-radius:13px;
    border-top-left-radius:13px;
    border-top-right-radius:13px;
    border-bottom-left-radius:13px;
    border-bottom-right-radius:13px;
}

.Problem{
    margin: 3px;
    margin-bottom: 20px;
    overflow: auto;
    word-break: normal;
    
}

.CommentTable {
    border-collapse: collapse;
    margin: 10px 10px 0px 15px;
    -moz-box-shadow: 3px 7px 5px #424042;
    -webkit-box-shadow: 3px 7px 5px #424042;
    box-shadow: 3px 7px 5px #424042;
    background-color: #f1f0f0;
}

/*.Comment{
    
}*/

.ProfileCommentPic{
    border-style:groove;
    width: 30px;
    height: 30px;
}

/*.CommentText{

}*/

.Response{
    margin: 20px 5px 5px 5px;
}